body{
    background-image: url(./csebackground.jpg);
 background-size: cover;
}
h1{
    font-size:70px;
    display: inline-block;
}
h2{
    font-size:70px;
    display: inline-block;
    margin-left: 200px;
}
h3{
    font-size:50px;
    margin-left: 330px;
    display: inline-block;
}
.ques{
    margin-left: 20px;
    color: white;

}
/* hower */
 h1:hover{
    color:rgb(173, 103, 22);
 
        display: inline-block;
        position: relative; /* Ensures the element can be moved */
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }
 h1:hover {
        transform: translateX(40px); /* Moves 20px to the right on hover */
    }
    /* to move the labs */
    h2:hover{
        color:rgb(173, 103, 22);
     
            display: inline-block;
            position: relative; /* Ensures the element can be moved */
            transition: transform 0.3s ease-in-out; /* Smooth transition */
        }
     h2:hover {
            transform: translateX(40px); /* Moves 20px to the right on hover */
        }
        
    /*to move the previous year  */
    h3:hover{
        color:rgb(173, 103, 22);
     
            display: inline-block;
            position: relative; /* Ensures the element can be moved */
            transition: transform 0.8s ease-in-out; /* Smooth transition */
        }
     h3:hover {
            transform: translateX(30px); /* Moves 20px to the right on hover */
        }
      .ques:hover{
            color:whitesmoke;
         
                display: inline-block;
                position: relative; /* Ensures the element can be moved */
                transition: transform 0.3s ease-in-out; /* Smooth transition */
            }
        .ques:hover {
                transform: translateX(40px); /* Moves 20px to the right on hover */
            }
    a{
        color: black;
    }

